* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wa-page-wrapper {
    min-height: 100%;
    margin-bottom: -41px;
}

.navbar {
    margin-bottom: 0px;
}

.wa-page-wrapper:after {
    content: "";
    display: block;
}

.wa-footer, .wa-page-wrapper:after {
    height: 41px;
}

.wa-navbar {
    margin-bottom: 0;
}

.wa-header {
    background: -moz-linear-gradient(90deg, #007CA6 0%, #007196 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007196), color-stop(100%, #007CA6)); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #007CA6 0%, #007196 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #007CA6 0%, #007196 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #007CA6 0%, #007196 100%); /* ie10+ */
    background: linear-gradient(0deg, #007CA6 0%, #007196 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007196', endColorstr='#007CA6', GradientType=0); /* ie6-9 */
    padding: 30px 20px;
    color: #ffffff;
    border-bottom: 1px solid #007196;
}

.wa-header h1 {
    font-weight: 500;
}

.wa-main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wa-affix {
    margin-top: 63px;
}

.wa-content h1 {
    border-bottom: 1px solid #eee;
}

.wa-section {
    margin-bottom: 200px;
}

.wa-footer {
    background-color: #333333;
    color: #e0e0e0;
    padding: 10px 0px;
}

.wa-footer p {
    margin-bottom: 0px;
}

.affix-top, .affix {
    position: static;
}

@media (min-width: 992px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 30px;
        width: 100%;
    }

    #sidebar.affix {
        position: fixed;
        top: 30px;
        width: 100%;
    }
}
#sidebar li {
    border: 0 #ffffff solid;
    border-left-width: 4px;
}

#sidebar li.active {
    border: 0 #eee solid;
    border-left-width: 4px;
}


.wa-input {
    margin-bottom: 15px;
}

.wa-form-link {
    text-decoration: solid;
    margin-bottom: 0px;
}